@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
  box-sizing: border-box;
  font-size: 0.875em;
  font-family: "Cabin", sans-serif;
  letter-spacing: -0.7px;
  --bg-color: #161616;
  --bg1-color: #1d2021;
  --main-fc: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  top: 0;
  height: 50px;
  position: sticky;
  background: var(--bg1-color);
  display: flex;
  column-gap: 400px;
  align-items: center;
  color: #fff;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  width: 100%;
  justify-items: center;
  gap: 0.8em;
  margin: 0 5%;
  border-radius: 0.4em;
}

.container > div {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

img:hover {
  transform: scale(1.05);
}

h4 {
  font-size: clamp(1.55rem, 3.4vw, 1.8rem);
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 5%;
  display: inline-block;
}

h4 > span {
  background-color: var(--bg1-color);
  color: #ffe6a7;
  font-weight: lighter;
  padding: 0.2em;
}

/* @media (min-width: 30em) { */
/*   :root { */
/*     font-size: 0.8rem; */
/*   } */
/* } */

/* /1* @media (min-width:600px) { */
/*   .container { */
/*     grid-template-columns: repeat(auto-fill,minmax(120px,1fr)); */
/*   } */
/* } */
