@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
  box-sizing: border-box;
  font-size: 0.875em;
  font-family: "Cabin", sans-serif;
  letter-spacing: -0.7px;
  --bg-color: #161616;
  --bg1-color: #1d2021;
  --main-fc: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  top: 0;
  height: 50px;
  position: sticky;
  background: var(--bg1-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white;
  z-index: 1;
}

nav {
  margin-right: 5%;
}

ion-icon {
  color: white;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

li {
  display: inline;
}

.section1,
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
  width: 100%;
  justify-items: center;
  column-gap: 0.8em;
  row-gap: 0.8em;
  margin: 0 5%;
}

.grid > div {
  width: 100%;
  height: 100%;
}

h4 {
  font-size: clamp(1.55rem, 3.4vw, 1.8rem);
  margin-left: 5%;
  display: inline-block;
}

#trending {
  margin-top: 3em;
  margin-bottom: 22px;
}

#top {
  margin-top: 3em;
  margin-bottom: 22px;
}

h4 > span {
  background-color: var(--bg1-color);
  color: #fff;
  font-weight: lighter;
  padding: 0.2em;
}

.container1 > div {
  position: relative;
}

.container1 > div > div {
  position: absolute;
  top: -9px;
  left: -9px;
  color: #fff;
  background-color: #161616;
  width: 30px;
  height: 30px;
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1000px) {
  ion-icon {
    color: #fff;
  }
}

@media (min-width: 1000px) {
  ion-icon:hover {
    color: #fcddb0;
  }
}
