@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root {
  box-sizing: border-box;
  font-size: 0.875em;
  font-family: "Noto Serif Khojki", serif;
  letter-spacing: -0.7px;
  --bg-color: #161616;
  --bg1-color: #1d2021;
  --main-fc: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  top: 0;
  height: 50px;
  position: sticky;
  background: var(--bg1-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
}

nav {
  margin-right: 5%;
}

ion-icon {
  color: white;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

li {
  display: inline;
}

.section1,
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  width: 100%;
  justify-items: center;
  column-gap: 0.8em;
  row-gap: 1.2em;
  margin: 0 5%;
}

.animeCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.animeCover {
  width: 100%;
  aspect-ratio: 9/13;
}

a.animeTitle {
  margin-top: 10px;
  color: var(--bg1-color);
  text-decoration: none;
  word-wrap: break-word;
  font-size: 1rem;
  letter-spacing: 0.01px;
  line-height: 1.3;
  font-family: "Karla", sans-serif;
}

h4 {
  font-size: clamp(1.38rem, 3.4vw, 1.6rem);
  margin-left: 5%;
  display: inline-block;
}

#trending {
  margin-top: 2em;
  margin-bottom: 22px;
}

#top {
  margin-top: 2em;
  margin-bottom: 22px;
}

h4 > span {
  background-color: var(--bg1-color);
  color: #fff;
  font-weight: lighter;
  padding: 0.2em;
  padding-top: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

@media (max-width: 1000px) {
  ion-icon {
    color: #fff;
  }
}

@media (min-width: 1000px) {
  ion-icon:hover {
    color: #fcddb0;
  }
}
@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
